.container {
    padding-top: 60px;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 0%;
}